/* navibar */
.add:hover{
  background: rgba(255, 0, 0, 0);
}

/* accodian (login) */
  input[id*="signin"]{display:none;}
    input[id*="signin"]+label{
    diplay: block;
    padding: 20px;
    border:2px solid rgba(255, 99, 71, 0);
    border-bottom:0;
    color: rgb(120, 120, 120);
    font-weight:900;
    background: rgba(255, 99, 71, 0);
    cursor:pointer;
    position: relative;
  }
  input[id*="signin"]+label em {
    position: absolute;
    top:50%
    right:10px;
    width:30px;
    height:30px;
    margin-top:-15px;
    display:inline-block;
    background:url('/static/image/beans.png')0 0 no-repeat;
  }
  input[id*="signin"]+label+ div {
    max-height:0;
    transition: all.35s;
    overflow:hidden;
    background:#ebf8ff;
    font-size:11px;
    }
  input[id*="signin"]+ label + div p{
  display: inline-block;
  padding : 20px;
  }

  input[id*="signin"]:checked + label + div{
  max-height:100px
  }

  input[id*="signin"]:checked + label em{
  background-position: 0 -30px;
  }

/* accodian (nextweek,recipe) */
  input[id*="answer"]{display:none;}
    input[id*="answer"]+label{
    diplay: block;
    padding: 20px;
    border:2px solid hsla(9, 100%, 64%, 0.5);
    border-bottom:0;
    color:  hsla(9, 50%, 64%, 0.5);
    font-weight:900;
    background: hsla(9, 50%, 64%, 0.5);
    cursor:pointer;
    position: relative;
  }
  input[id*="answer"]+label em {
    position: absolute;
    top:50%
    right:10px;
    width:30px;
    height:30px;
    margin-top:-15px;
    display:inline-block;
    background:url('/static/image/beans.png')0 0 no-repeat;
  }
  input[id*="answer"]+label+ div {
    max-height:0;
    transition: all.35s;
    overflow:hidden;
    background:#ebf8ff;
    font-size:11px;
    }
  input[id*="answer"]+ label + div p{
  display: inline-block;
  padding : 20px;
  }

  input[id*="answer"]:checked + label + div{
  max-height:400px
  }

  input[id*="answer"]:checked + label em{
  background-position: 0 -30px;
  }