@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;400;500&display=swap');
/*desktop 1024px*/
@media screen and (min-width:800px){
	body{margin:0;font-family: 'Merriweather', serif; color:red;}
	a{text-decoration:none;color:black;}
	header{width:auto;height:800px;}
	section{width:auto;height:800px;}
}

@media screen and (min-width:800px){
	.chatbot-icon{display:flex;justify-content:flex-end;font-size:70px;color:#ff3d00;top:500px;margin-right:50px;position:sticky;}
}

@media screen and (min-width:800px){
	.nav-bar{display:flex;justify-content:space-between;align-item:center;}
	.nav-logo{font-size:24px;color:#ff3d00;padding:6px 12px;}
	.nav-menu{display:flex;list-style:none;font-size:18px;padding:5px 12px;margin:0;}
	.nav-menu li {padding:5px 12px;}
	.nav-menu li a:hover{border:1px solid;padding:6px;border-width: 0 1px 0;
}
	.nav-sign{display:flex;list-style:none;font-size:18px;padding:5px 12px;margin:0;color:#ff3d00;}
	.nav-sign li{padding:6px 12px;}
}

@media screen and (min-width:800px){
	#contents{font-family: 'Noto Serif KR', serif;font-size:20px;padding:40px;height:300px;display:flex;justify-content:space-around;align-items:center; background-color:yellow;}
	.con-container{display:flex;justify-content:space-around;}
	.con{background-color:none;padding:20px;color:#870000;}
	.con i{font-size:80px;display:flex;justify-content: space-around;}
	.con h3{display:flex;justify-content: space-around;}
	.con p{font-size:20px;}
}

