/* accodian (login) */
  input[id*="signin"]{display:none;}
    input[id*="signin"]+label{
        diplay: block;
        padding: 10px;
        border:1px solid rgb(255,255,255,1);
        border-bottom:0;
        color:#000000;
        font-weight:900;
        background: rgb(0,0,0,0);
        cursor:pointer;
  }
  input[id*="signin"]+label+ div {
    max-height:0;
    transition: all.35s;
    overflow:hidden;
    background:rgb(255,255,255,0.2);
    font-size:11px;
    }
  input[id*="signin"]+ label + div p{
  display: inline-block;
  padding : 20px;
  }

  input[id*="signin"]:checked + label + div{
  max-height:100px
  }

/* nextweek,recipe */
  input[id*="answer"]{display:none;}
    input[id*="answer"]+label{
    diplay: block;
    padding: 10px;
    border:2px solid #FF8000;
    border-bottom:10;
    color:  hsla(0, 0, 0, 0);
    font-weight:1000;
    background: hsla(0, 0, 0, 0);
    cursor:pointer;
  }
  input[id*="answer"]+label+ div {
    max-height:0;
    transition: all.35s;
    overflow:hidden;
    background:#FFFFFF;
    font-size:11px;
    }
  input[id*="answer"]+ label + div p{
  display: inline-block;
  padding : 20px;
  }

  input[id*="answer"]:checked + label + div{
  max-height:400px
  }


<!--  <div class="w3-row-padding w3-center wrapper">-->
<!--      <div class="box">-->
<!--            <img src="/static/image/apple.jpg" onclick="onClick(this)" alt="">-->
<!--        </div>-->
<!--      <div class="box">-->
<!--            <img src="/static/image/dakgalbi.jpg" onclick="onClick(this)" alt="">-->
<!--        </div>-->
<!--      <div class="box">-->
<!--            <img src="/static/image/mille-feuille.jpg" onclick="onClick(this)" alt="">-->
<!--        </div>-->
<!--      <div class="box">-->
<!--            <img src="/static/image/special-3.png" onclick="onClick(this)" alt="">-->
<!--        </div>-->
<!--      <div class="box">-->
<!--            <img src="/static/image/mille-feuille.jpg" onclick="onClick(this)" alt="">-->
<!--        </div>-->
<!--    </div>-->


    .{
        margin: 0;
        padding: 0;
    }
    .wrapper{
        min-height : 50vh ;
        display : flex;
        justify-content : center ;
        align-items: center;
    }
    .box{
        background : url("https://images.unsplash.com/photo-1582738411706-bfc8e691d1c2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
        box-shadow: inset 0 50px rgba(255,255,255,0.1),
                    inset 2px -15px 30px rgba(0,0,0,0.4),
                    2px 2px 5px rgba(0,0,0,0.3);
        padding: 25px;
        border-radius : 50%;
        text-align : center;
        margin: 0 20px;
        transition : all .5s ease;
    }
    .box img{
        width: 200px;
        border-radius:50%;
    }
    .box:hover{
        transform: scale(1.1);
    }
