<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>frame 지현</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

 </head>
<style>
    *{margin:0;padding:0;box-sizing:border-box;}
    body{width:100vw;height:100vh;background:#ffffff;user-selector:none;}
    .contact-us{width:100vw;height:50vh;background: #fdd835; color:#fafafa;}
    .divider-us{width:100vw;height:100px;}
    .divider-info{width:100vw;height:300px;}

    .divider-ban{width:100vw;height:20vh;background:#260e04;}
    .divider-ban img{width:200px;height:50px;padding:5px;}

</style>
<body>
<div class="contact-us">
    <div class="divider-us">
        <i class="fab fa-github"></i>
        <h1>
            <a href="https://github.com/ginttone/Zipbob" title="주소로 이동" style="position:absolute; left:40px; top: 20px;" target="_blank" class="w3-hover-text-white"><i class="fa fa-github w3-hover-opacity"></i>Zipbob github</a>
        </h1>
    </div>
    <div class="divider-info">
        <div class="list" style="position:absolute; right:80px; bottom:480px;">
            <h1>교육문의 <a href="https://www.multicampus.com/">멀티캠퍼스</a></h1>
            <p>고객센터 1234-5678 평일 09-18시</p>
        </div>
    </div>
</div>
<!--End 연락-->
<!--베너-->
<!-- 슬라이드 배너 -->

<!--  배너  -->
<head>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

 <style>
  body {overflow: hidden; margin: 0; padding:0; }
  #layout {position: absolute; left: 25%; maring: auto; width: 900px; height:50px; display: flex; flex-warp: wrap; align-items: center; }
  #layout b {width: 15px; position: relative; z-index: 1; cursor: pointer;  }
  #banner  { position:relative; z-index:0; width:900px; height:50px; overflow:hidden; margin:auto; }
  #banner img {position: absolute; width: 150px; height: 50px; }
  #banner img:nth-child(1) { left:-180px; z-index:2; }
  #banner img:nth-child(2) { left:0px; }
  #banner img:nth-child(3) { left:180px; }
  #banner img:nth-child(4) { left:360px; }
  #banner img:nth-child(5) { left:540px; }
  #banner img:last-child { left:900px; }
 </style>

 <script>
 $(document).ready(function(){
   var i=$("#banner img:first-child").attr('src').substr(-5,1);
   /****** 처음부터 자동 *****/
   var rolling=setInterval(frame, 2500);
   function frame() {

     $("#banner img").removeClass("firstImg").animate({left:'-=180px'});
     i++;
     if( i==7) {i=1}
     var appendImg="<img src='./static/image/roll_img_"+i+".jpg'>";
     $("#banner img:nth-child(2)").addClass("firstImg");
     $("#banner").append(appendImg);
     if( $("#banner img:first-child").position().left<=-200 ) {  $("#banner img:first-child").remove()  }
   }

   /****** 왼쪽버튼 클릭시 ******/
   $("#left").click(function(){
    clearInterval();
    $("#banner img").removeClass("firstImg").animate({left:'-=180px'});
    i++;
    if( i==7) {i=1}
    var appendImg="<img src='./static/image/roll_img_"+i+".jpg'>";
    $("#banner img:nth-child(2)").addClass("firstImg");
    $("#banner").append(appendImg);
    if( $("#banner img:first-child").position().left<=-200 ) {  $("#banner img:first-child").remove()  }
   });

   /****** 오른쪽버튼 클릭시 ******/
   $("#right").click(function(){
    $("#banner img").removeClass("firstImg").animate({left:'+=180px'});
    i=i-1;
    if( i==0) {i=7}
    var prependImg="<img src='./static/image/roll_img_"+i+".jpg'>";
    $("#banner img:nth-child(2)").addClass("firstImg");
    $("#banner").prepend(prependImg);
    if( $("#banner img:last-child").position().left>=900 ) {  $("#banner img:last-child").remove()  }
   });
 });
 </script>
</head>

<div id="layout">
    <b id="left">&lt;</b>
    <div id="banner">
        <a class="w3-button" href="">
            <img src="./static/image/roll_img_6.jpg" width="150" height="50">
        </a>
        <a class="w3-button" href="http://www.ssg.com" >
            <img src="./static/image/roll_img_1.jpg" width="150" height="50">
        </a>
        <a class="w3-button" href="https://www.homeplus.co.kr">
            <img src="./static/image/roll_img_2.jpg" width="150" height="50" class="firstImg">
        </a>
        <a class="w3-button" href="https://www.coupang.com">
            <img src="./static/image/roll_img_3.jpg" width="150" height="50">
        </a>
        <a class="w3-button" href="https://www.lottesuper.co.kr">
             <img src="./static/image/roll_img_4.jpg" width="150" height="50">
        </a>
        <a class="w3-button" href="https://www.gsfresh.com">
            <img src="./static/image/roll_img_5.jpg" width="150" height="50">
        </a>
    </div>
    <b id="right">&gt;</b>
</div>
<!--추천레시피 검색 -->
 <div class="search-recipe" id="allRecipe">
	 <div class="divider">
		 <h1>All Recipe</h1>
	 </div>
		<div class="accordion">
			<div class="question">
<!--				<input type="text" placeholder="검색어를 입력하세요">-->
				<input type="submit" value="All Recipe">
			</div>
			<div class="answer">
				<div class="search-des">
					<p>sssssss</p>

<!--End 추천레시피 검색-->

<!--추천레시피 검색 try-->
<link rel="stylesheet" href="/static/css/table-sortable.css"/>
<script src="jquery.slim.min.js"></script>
<script src="table-sortable.js"></script>
<input type="text" placeholder="Search in table..." id="searchField">
<div class="table-sortable">
	Table will be rendered here
</div>

<script>
	var data = [
		{
			formCode: 531718,
			formName:'Investment Form',
			fullName:'Test User',
			appointmentDate:'13 March, 2017',
			appointmentTime:'1:30PM',
			phone:'9876543210'
		},
		{
			formCode: 531790,
			formName:'Investment Form 2',
			fullName:'Test User',
			appointmentDate:'12 March, 2017',
			appointmentTime:'1:30PM',
			phone:'9876543210'
		},
		{
			formCode: 531334,
			formName:'Investment Form 3',
			fullName:'Test User',
			appointmentDate:'10 March, 2017',
			appointmentTime:'1:30PM',
			phone:'9876543210'
		},
		{
			formCode: 5317,
			formName:'Investment Form 4',
			fullName:'Test User',
			appointmentDate:'17 March, 2017',
			appointmentTime:'1:30PM',
			phone:'9876543210'
		},
		{
			formCode: 5318,
			formName:'Investment Form 4',
			fullName:'Test User',
			appointmentDate:'17 March, 2017',
			appointmentTime:'1:30PM',
			phone:'9876543210'
		},
		{
			formCode: 5319,
			formName:'Investment Form 4',
			fullName:'Test User',
			appointmentDate:'17 March, 2017',
			appointmentTime:'1:30PM',
			phone:'9876543210'
		},
		{
			formCode: 5320,
			formName:'Investment Form 4',
			fullName:'Test User',
			appointmentDate:'17 March, 2017',
			appointmentTime:'1:30PM',
			phone:'9876543210'
		},
		{
			formCode: 5321,
			formName:'Investment Form 4',
			fullName:'Test User',
			appointmentDate:'17 March, 2017',
			appointmentTime:'1:30PM',
			phone:'9876543210'
		},
		{
			formCode: 5322,
			formName:'Investment Form 4',
			fullName:'Test User',
			appointmentDate:'17 March, 2017',
			appointmentTime:'1:30PM',
			phone:'9876543210'
		},
		{
			formCode: 5323,
			formName:'Investment Form 4',
			fullName:'Test User',
			appointmentDate:'17 March, 2017',
			appointmentTime:'1:30PM',
			phone:'9876543210'
		},
		{
			formCode: 5324,
			formName:'Investment Form 4',
			fullName:'Test User',
			appointmentDate:'17 March, 2017',
			appointmentTime:'1:30PM',
			phone:'9876543210'
		},
		{
			formCode: 5325,
			formName:'Investment Form 4',
			fullName:'Test User',
			appointmentDate:'17 March, 2017',
			appointmentTime:'1:30PM',
			phone:'9876543210'
		},
		{
			formCode: 5326,
			formName:'Investment Form 4',
			fullName:'Test User',
			appointmentDate:'17 March, 2017',
			appointmentTime:'1:30PM',
			phone:'9876543210'
		},
		{
			formCode: 5327,
			formName:'Investment Form 4',
			fullName:'Test User',
			appointmentDate:'17 March, 2017',
			appointmentTime:'1:30PM',
			phone:'9876543210'
		},
		{
			formCode: 5328,
			formName:'Investment Form 4',
			fullName:'Test User',
			appointmentDate:'17 March, 2017',
			appointmentTime:'1:30PM',
			phone:'9876543210'
		},
		{
			formCode: 5329,
			formName:'Investment Form 4',
			fullName:'Test User',
			appointmentDate:'17 March, 2017',
			appointmentTime:'1:30PM',
			phone:'9876543210'
		},
	]

	var columns = {
		'formCode':'Form Code',
		'formName':'Form Name',
		'fullName':'Full Name',
		'appointmentDate':'Appointment Date',
		'appointmentTime':'Appointment Time',
		'phone':'Phone'
	}

	var table = $('#table-sortable').tableSortable({
		data: data,
		columns: columns,
		rowsPerPage: 5,
		pagination:true
	});

	$('#changeRows').on('change',function() {
	  table.up<a href="https://www.jqueryscript.net/time-clock/">date</a>RowsPerPage(parseInt($(this).val(), 10));
	})

	var table = $('#table-sortable').tableSortable({
		data: [],
		columns: columns,
		rowsPerPage: 10,
		pagination:true,
	});

	$.get(/* url */,function(data) {
		// Push data into existing data
		table.setData(data,null,true);
		// or Set new data on table, columns is optional.
		table.setData(data, columns);
	})

	var table = $('#table-sortable').tableSortable({
		...
		sorting:true,
		...
	});

	/* or on specific columns */
	var table = $('#table-sortable').tableSortable({
		...
		sorting: ['column1','column2'],
		...
	});

	var table = $('#table-sortable').tableSortable({
		...
		responsive: {
			// It works for 571 - 1100 viewport width; (max-width: 1100px and min-width: 571px);
			1100: {
				// Other options
				columns: {
					formCode:'Form Code',
					formName:'Form Name',
				},
			},
			// It works for 0 - 570 viewport width; (max-width: 570px);
			570: {
				// Other options
				columns: {
					formName:'Form Name',
				},
			}
		},
		...
	});

	var table = $('#root').tableSortable({
		element:'',
		data: [],
		columns: {},
		sorting:true,
		pagination:true,
		paginationContainer:null,
		rowsPerPage: 10,
		formatCell:null,
		formatHeader:null,
		searchField:null,// selector of search field
		responsive: {},// specify options for different screen sizes
		totalPages: 0,
		sortingIcons: {
			asc:'<span>▼</span>',
			desc:'<span>▲</span>',
		},
		nextText:'<span>Next</span>',
		prevText:'<span>Prev</span>',
		tableWillMount: () => {},
		tableDidMount: () => {},
		tableWillUpdate: () => {},
		tableDidUpdate: () => {},
		tableWillUnmount: () => {},
		tableDidUnmount: () => {},
		onPaginationChange:null,
	})

	// It will update the table, if you have updated options they will be applied.
	table.refresh();

	// It will distroy and create table from start.
	table.refresh(true);

	// Destroy the table.
	table.distroy();

	// Get table data.
	table.getData();

	// Set new data and columns on table
	table.setData(data, columns/* optional */);

	// Add data in existing data
	table.setData(partialData,null,true);

	// Get data on the current page
	table.getCurrentPageData();

	// Update rows per page dynamically.
	table.updateRowsPerPage(20);
</script>
	<select name="rowsPerPage" id="changeRows">
		<option value="5">5</option>
	  	<option value="10" selected>10</option>
	  	<option value="15">15</option>
	  	<option value="20">20</option>
	</select>

					<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
</style>
</head>
<body>

<div style="overflow-x: auto;">
  <table>
    <tr>
      <th>Menu</th>
      <th>Ingredients</th>
      <th>Directions</th>
    </tr>
    <tr>
      <td>김치찌개</td>
      <td>돼지고기, 김치, 고추가루</td>
      <td>1.</td>
    </tr>
    <tr>
      <td>차돌된장찌개</td>
      <td>차돌박이, 다진마늘, 양파, 청양고추, 고추가루, 애호박, 감자, 두부</td>
      <td>1.</td>
    </tr>
    <tr>
      <td>부대찌개</td>
      <td>소세지, 햄, 두부, 파, 김치</td>
      <td>1.</td>
    </tr>
  </table>
</div>
<!--End 추천레시피 검색 try-->
				</div>
			</div>
		</div>
 </div>

</body>


</html>