<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<title>Zipbob</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="css/default.css">
<link rel="stylesheet" type="text/css" href="css/accodian.css">


<link rel="stylesheet" href="/static/css1/home.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}

body {
  background-image: url('./static/image/summer3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* signin */
.add:hover{
  background: rgba(255, 0, 0, 0);
}

/* accodian (login) */
  input[id*="signin"]{display:none;}
    input[id*="signin"]+label{
    diplay: block;
    display-position: center;
    padding: 10px;
    border:2px solid rgba(255, 99, 71, 0);
    border-bottom:0;
    color: rgb(120, 120, 120);
    font-weight:900;
    background: rgba(255, 99, 71, 0);
    cursor:pointer;
    position: relative;
  }
  input[id*="signin"]+label em {
    position: absolute;
    top:50%
    right:10px;
    width:30px;
    height:30px;
    margin-top:-15px;
    display:inline-block;
    background:url('/static/image/beans.png')0 0 no-repeat;
  }
  input[id*="signin"]+label+ div {
    max-height:0;
    transition: all.35s;
    overflow:hidden;
    background:#ebf8ff;
    font-size: 13px;
    }
  input[id*="signin"]+ label + div p{
  display: inline-block;
  padding : 10px;
  }

  input[id*="signin"]:checked + label + div{
  max-height: 200px
  }

  input[id*="signin"]:checked + label em{
  background-position: 0 -30px;
  }

/* 회원가입 */
  body { padding:40px; background: #f5f7fb}
  .bnt { display: block; width: 200px; height: 50px; background: #4ac4f3:
  text-decoration: none; text-align: center; line-height: 50px; color: black;
  border-radius: 50px;}
  .popup { position: absolute; left: 50%; top: 50%; z-index: 5; transform: translate(-50%, -20%);
  width: 550px; height: 900px; box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background: #fff; border-radius: 5px; text-align: right;
  padding: 20px; box-sizing: border-box; opacity: 0; transition: all 0.5s;}
  .popup a { color: grey; text-decoration: none;}
  .popup:target { opacity: 1;}
  .popup:target + .dim{ opacity: 1; z-index: 2;}
  .dim {position: fixed; left: 0; top: 0; z-index: -1; width: 100%;
  height: 100%; background: rgba(0,0,0,0.6); opacity: 0; transition: all 0.5s;}

</style>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="#home" class="w3-bar-item w3-button">Zipbob</a>
    <div class="add">
    <a href="#contact" class="w3-bar-item w3-button w3-hide-small w3-right"><i class="fa fa-envelope"></i> Contact</a>
    <a href="#recipe" class="w3-bar-item w3-button w3-hide-small w3-right"> Recipe</a>
    <a href="#nextweek" class="w3-bar-item w3-button w3-hide-small w3-right"> NEXTweek</a>
    <a href="#thisweek" class="w3-bar-item w3-button w3-hide-small w3-right"> THISweek</a>

      <div class="w3-bar-item w3-button" >
        <input type="checkbox" id="signin_1">
        <label for="signin_1">Sign In<em></em></label>
      <div>
        <colgroup>
          <col style="width: 11px">
        </colgroup>
          <tbody>
          <tr>
            <th><label for="txt1">ID</label></th>
            <td><input type="text" id="txt1" placeholder="아이디를 입력해주세요."></td>
          </tr>
          <br>
          <tr>
            <th><label for="txt2">PWD</label></th>
            <td><input type="text" id="txt2" placeholder="비밀번호를 입력해주세요."></td>
          </tr>
          </tbody>

          <a href="#pop1" class="bnt">회원가입</a>
            <div class="popup" id="pop1">
              <br><br><br><br><br><br><br>
              <a href="#a">닫기</a>
              <form name="write_form_member" method="post">
                 <table width="940" style="padding:5px 0 5px 0; ">
                   <tr height="2" bgcolor="#FFC8C3"><td colspan="2"></td></tr>
                   <br>
                   <tr>
                     <th> 이름</th>
                     <td><input type="text" name="mbname"></td>
                   </tr>
                   <tr>
                     <th>주민등록번호</th>
                     <td><input type="text" name="jumin_1"> -
                     <input type="password" name="jumin_2"></td>
                   </tr>
                   <tr>
                     <th>아이디</th>
                     <td>
                     <input type="text" name="cursor:pointer">
                     </td>
                   </tr>
                   <tr>
                     <th>비밀번호</th>
                     <td><input type="password" name="mbpw"> 영문/숫자포함 6자 이상</td>
                   </tr>
                   <tr>
                     <th>비밀번호 확인</th>
                     <td><input type="password" name="mbpw_re"></td>
                   </tr>
                   <tr>
                      <th>비밀번호 힌트/답변</th>
                      <td><select name='pwhint' size='1' class='select'>
                      <option value=''>선택하세요</option>
                      <option value='30'>졸업한 초등학교 이름은?</option>
                      <option value='31'>제일 친한 친구의 핸드폰 번호는?</option>
                      <option value='32'>아버지 성함은?</option>
                      <option value='33'>어머니 성함은?</option>
                      <option value='34'>어릴 적 내 별명은?</option>
                      <option value='35'>가장 아끼는 물건은?</option>
                      <option value='36'>좋아하는 동물은?</option>
                      <option value='37'>좋아하는 색깔은?</option>
                      <option value='38'>좋아하는 음식은?</option>
                    </select>
                    </tr>
                    <tr>
                    </td>
                       <th>답변</th>
                       <td><input type='text' name='pwhintans'></td>
                    </tr>
                    <tr>
                      <th>이메일</th>
                      <td>
                        <input type='text' name="email">@
                        <input type='text' name="email_dns">
                          <select name="emailaddr">
                             <option value="">직접입력</option>
                             <option value="daum.net">daum.net</option>
                             <option value="empal.com">empal.com</option>
                             <option value="gmail.com">gmail.com</option>
                             <option value="hanmail.net">hanmail.net</option>
                             <option value="msn.com">msn.com</option>
                             <option value="naver.com">naver.com</option>
                             <option value="nate.com">nate.com</option>
                          </select>
                        </td>
                     </tr>
                    <tr>
                      <th>핸드폰 번호</th>
                       <td><input type="text"name="tel_h1"> -
                           <input type="text" name="tel_h2_1"> -
                           <input type="text" name="tel_h2_2">
                       </td>
                      </tr>
                     <tr>
                       <th>직업</th>
                       <td>
                       <select name='job' size='1'>
                             <option value=''>선택하세요</option>
                             <option value='39'>학생</option>
                             <option value='40'>컴퓨터/인터넷</option>
                             <option value='41'>언론</option>
                             <option value='42'>공무원</option>
                             <option value='43'>군인</option>
                             <option value='44'>서비스업</option>
                             <option value='45'>교육</option>
                             <option value='46'>금융/증권/보험업</option>
                             <option value='47'>유통업</option>
                             <option value='48'>예술</option>
                             <option value='49'>의료</option>
                       </select>
                      </td>
                    </tr>
                   <tr>
                     <th>메일/sns 정보 수신</th>
                       <td class="s">
                           <input type="radio" name="chk_mail" checked> 수신
                           <input type="radio" name="chk_mail" value="4"> 수신거부
                        </td>
                     </tr>
                     <tr>
                       <th>정보공개여부</th>
                       <td>
                       <select name='chk_open' size='0'>
                             <option value=''>선택하세요</option>
                             <option value='5'>모두공개</option>
                             <option value='6'>비공개</option>
                             <option value='7'>1단계공개</option>
                             <option value='8'>2단계공개</option>
                         </select>
                        </td>
                       </tr>

                       <tr height="2" bgcolor="#FFC8C3"><td colspan="2"></td></tr>
                       <tr>
                         <td colspan="2" align="center">
                           <input type="submit" value="회원가입">
                           <input type="reset" value="취소">
                        </td>
                       </tr>
                       </table>
                      </td>
                      </tr>
                      </form>
              <script>
              $(function(){
                // 중복확인 & id 유효성검사
                $("#duplcheck").on("click",function(){
                    var id = $("#id").val();
                    if(id == ""){
                        alert("아이디를 입력해주세요");
                        return;
                    }
                    var regex = /^[a-z][a-z\d]{4,11}$/;
                    var result = regex.exec(id);

                     if(result != null){
                         $(".id.regex").html("");
                    window.open("idDuplCheck.jsp?id="+ id,"","width=500px,height=300px,top=300px,left=200px");
                     }else{
                         $(".id.regex").html("영어 소문자,숫자 4-12자리");
                         $(".id.regex").css("color","red")
                     }
                })

            //비밀번호 유효성검사
                $("#pw").on("input",function(){
                    var regex = /^[A-Za-z\d]{8,12}$/;
                    var result = regex.exec($("#pw").val())

                    if(result != null){
                        $(".pw.regex").html("");
                    }else{
                        $(".pw.regex").html("영어대소문자,숫자 8-11자리");
                        $(".pw.regex").css("color","red")
                    }
                });

               //비밀번호 확인
                   $("#repw").on("keyup",function(){
                        if($("#pw").val()==$("#repw").val()){
                           $(".repw.regex").html("비밀번호가 일치합니다");
                        }else{
                         $(".repw.regex").html("비밀번호가 일치하지않습니다");
                        }
                   })

                //이름 유효성검사
                    $("#name").on("input",function(){
                        var regex = /[가-힣]{2,}/;
                        var result = regex.exec($("#name").val());

                        if(result != null){
                           $(".name.regex").html("");
                        }else{
                            $(".name.regex").html("한글만 입력 가능합니다.");
                        }
                    })

                //전화번호 유효성검사
                    $("#phone").on("input",function(){
                         var regex = /^01\d\d{3,4}\d{4}$/;
                         var result = regex.exec($("#phone").val());

                        if(result != null){
                           $(".phone.regex").html("");
                        }else{
                            $(".phone.regex").html("올바른 번호가 아닙니다");
                        }
                    })

                //email유효성 검사
                    $("#email").on("input",function(){
                         var regex = /.+@[a-z]+(\.[a-z]+){1,2}$/;
                         var result = regex.exec($("#email").val());

                        if(result != null){
                           $(".email.regex").html("");
                        }else{
                            $(".email.regex").html("올바른 이메일이 아닙니다");
                        }
                    })
              //회원가입 버튼 눌렀을 때, 빈칸 있으면 다시 유효성 검사진행
               $("#signupbtn").on("click",function(){
                   var id = $("#id").val();
                   var pw = $("#pw").val();
                   var name = $("#name").val();
                   var phone = $("#phone").val();
                   var email = $("#email").val();

                   var idregex = /^[a-z][a-z\d]{4,11}$/;
                   var pwregex = /^[A-Za-z\d]{8,12}$/;
                   var nameregex = /[가-힣]{2,}/;
                   var phoneregex = /^01\d\d{3,4}\d{4}$/;
                   var emailregex = /.+@[a-z]+(\.[a-z]+){1,2}$/;

                   var idregex = idregex.exec(id);
                   if(idregex == null){
                       alert("아이디양식을 다시 확인해주세요");
                       return;
                   }
                   var pwregex = pwregex.exec(pw);
                   if(pwregex == null){
                       alert("비밀번호양식을 다시 확인해주세요");
                       retrun;
                   }
                   var nameregex = nameregex.exec(name);
                   if(nameregex == null){
                       alert("이름양식을 다시 확인해주세요");
                       retrun;
                   }
                   var phoneregex = phoneregex.exec(phone);
                   if(phoneregex == null){
                       alert("핸드폰번호양식을 다시 확인해주세요");
                       retrun;
                   }
                   var emailregex = emailregex.exec(email);
                   if(emailregex == null){
                       alert("이메일양식을 다시 확인해주세요");
                       retrun;
                   }

                 //빈칸 없을 때 제출.
                   $("#signform").submit();


               })
            })
              </script>

            </div>
          <div class="dim"></div>


      </div>
      </div>
    </div>
    </div>
  </div>
</div>


<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" src="/w3images/hamburger.jpg" alt="Hamburger Catering" width="1600" height="800">
  <div class="w3-display-bottomleft w3-padding-large w3-opacity">
    <h1 class="w3-xxlarge">Le Catering</h1>
  </div>
</header>


<!-- Page content -->
<div class="w3-content" style="max-width:1100px">


    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="../static/image/test01.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Zipbob</h1><br>
      <h4 class="w3-center">농수산물 유통 가격정보를 이용한 요리 추천 및 농가 상생 프로젝트</h4>
      <p class="w3-large"> 농수산물 가격정보를 비교하여 건강한 밥상을 차릴 수 있도록 한다.</p>
      <p class="w3-large"> 재료의 유통가격에 따른 동향을 제공한다. 합리적인 상품의 구매처 정보를 제공한다.</p>
      <p class="w3-large"> 일반 레시피 서비스와 프리미엄 레시피 서비스의 차별화를 두어 색다른 고객 만족을 준다.</p>
      <p class="w3-large"> 다양한 식품 구매처를 알려주어 기존에 편향되어있어 잊혀진 우리농가를 살린다. <span class="w3-tag w3-light-grey">seasonal</span> ingredients.</p>
      <p class="w3-large w3-text-grey w3-hide-medium"> </p>
    </div>
  </div>

  <hr>



  <!-- This week Section -->
  <div class="w3-row w3-padding-16 w3-center" id="thisweek">
    <h1 class="w3-center">This week</h1><br>
    <div class="w3-quarter">
    <img src="../static/image/pa.jpg" alt="item01" style="width:70%">
    <h3>상승&#128314; &#128316; &#128070; &#128077; &#11014;</h3>
      <p>전주 : 원</p>
      <p>금주 : 원</p>
    </div>
    <div class="w3-quarter">
      <img src="../static/image/potato.jpg" alt="item02" style="width:70%">
      <h3>상승</h3>
      <p>전주 : 원</p>
      <p>금주 : 원</p>
    </div>
    <div class="w3-quarter">
      <img src="../static/image/gulbi.jpg" alt="item03" style="width:70%">
      <h3>하락&#128315; &#128317; &#128071; &#128078; &#11015;</h3>
      <p>전주 : 원</p>
      <p>금주 : 원</p>
    </div>
    <div class="w3-quarter">
      <img src="../static/image/apple.jpg" alt="item04" style="width:70%">
      <h3>하락</h3>
      <p>전주 : 원</p>
      <p>금주 : 원</p>
    </div>
  </div>

  <hr>

  <!-- Next week Section -->
  <div class="w3-container w3-padding-64" id="nextweek">
    <h1>Next week</h1><br>
    <button onclick="myAccFunc('Demo1')" class="w3-padding-16 w3-theme w3-button w3-block w3-left-align">Next week</button>
      <div id="Demo1" class="w3-hide">
        <div class="w3-container">
          <p> 표 삽입 </p>

          <body>
          <h2> 다음주 전망 </h2>
          <table>
            <tr>
              <th>품목</th>
              <th>단위</th>
              <th>이번주</th>
              <th>다음주</th>
              <th>등락률</th>
            </tr>
            <tr>
              <td>밤고구마</td>
              <td>500g</td>
              <td>4480원</td>
              <td>4368원</td>
              <td>&#128317;2.5%</td>
            </tr>
            <tr>
              <td>달걀</td>
              <td>15구</td>
              <td>12000원</td>
              <td>12600원</td>
              <td>&#128314;5%</td>
            </tr>
            <tr>
              <td>전복</td>
              <td>1kg</td>
              <td>40000원</td>
              <td>42800원</td>
              <td>&#128314;7%</td>
            </tr>
          </table>
          <hr>
          <img src="../static/image/graph2.png" alt="item04" style="width:50%">
          </body>
        </div>
      </div>
  </div>






<script>
// Accordions
function myAccFunc(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

// Modal Image Gallery(choose recipe)
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}


// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" ;
    } else {
        navbar.className = navbar.className.replace(" w3-card w3-animate-top", "");
    }
}

// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("bgimg-1");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 4000);
}

</script>

  <!-- Recipe Section -->
  <div class="w3-row w3-padding-64" id="recipe">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">Recipe</h1><br>
      <h4>Bread Basket</h4>
      <p class="w3-text-grey">Assortment of fresh baked fruit breads and muffins 5.50</p><br>

      <h4>Honey Almond Granola with Fruits</h4>
      <p class="w3-text-grey">Natural cereal of honey toasted oats, raisins, almonds and dates 7.00</p><br>

      <h4>Belgian Waffle</h4>
      <p class="w3-text-grey">Vanilla flavored batter with malted flour 7.50</p><br>

      <h4>Scrambled eggs</h4>
      <p class="w3-text-grey">Scrambled eggs, roasted red pepper and garlic, with green onions 7.50</p><br>

      <h4>Blueberry Pancakes </h4>
      <p class="w3-text-grey">With syrup, butter and lots of berries 8.50</p>
    </div>

    <div class="w3-col l6 w3-padding-large">
      <img src="/w3images/tablesetting.jpg" class="w3-round w3-image w3-opacity-min" alt="thisweek" style="width:100%">
    </div>
  </div>
  <hr>



<!--  https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_parallax&stacked=h -->

<!--test01-->
<!--<button type="button" class="btn_open">팝업 열기</button>-->
<!--  <div id="mask"></div>-->
<!--  <div class="popup_box">-->
<!--    <div class="popup_cont">-->
<!--      팝업 내용-->
<!--    </div>-->
<!--    <div class="popup_close">-->
<!--      <button type="button" class="btn_close">팝업 닫기</button>-->
<!--    </div>-->
<!--  </div>-->

  <div class="w3-row-padding w3-center" id="layer">
    <div class="w3-col m3">
      <img src="../static/image/dakgalbi.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Recipe01">
      <a href="#" class="close">닫기</a>
    </div>
    <div class="w3-col m3">
      <img src="../static/image/mille-feuille.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Recipe02">
    </div>
    <div class="w3-col m3">
      <img src="../static/image/pasta.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Recipe03">
    </div>

    <div class="w3-col m3">
      <img src="../static/image/tteokbokki.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Recipe04">
    </div>
  </div>
  <hr>



  <!-- 구매처 -->
  <div class="w3-container w3-padding-64">
  <div class="w3-col l6 w3-padding-large">
    <h1>Find store</h1>
    <p><a href="#">Find store</a></p>
    <p><a href="#">Find store</a></p>
    <p><a href="#">Find store</a></p>
    <p><a href="#">Find store</a></p>
    <p><a href="#">Find store</a></p>
  </div>
  </div>
  <hr>


  <!-- Banner ection -->
  <div class="w3-container w3-padding-64">
  <div class="w3-col l6 w3-padding-large">
    <h1>Banner</h1>
    <a class="w3-button" style="background-color:#87C6C8; padding:7px" href="https://www.kamis.or.kr/">
      <img src="./static/image/at.png" style="width:150px;height:50px;">
    </a>
    <a class="w3-button" style="background-color:#87C6C8; padding:7px" href="https://front.homeplus.co.kr/">
      <img src="./static/image/homeplus.jpg" style="width:150px;height:50px;">
    </a>
    <a class="w3-button" style="background-color:#87C6C8; padding:7px" href="https://www.coupang.com">
      <img src="./static/image/coupang.jpg" style="width:150px;height:50px;">
    </a>
    <a class="w3-button" style="background-color:#87C6C8; padding:7px" href="https://www.lottesuper.co.kr">
      <img src="./static/image/lotte.png" style="width:150px;height:50px;">
    </a>
    <a class="w3-button w3-grey w3-section">Banner</a>
    <a class="w3-button w3-grey w3-section">Banner</a>
  </div>
  </div>



<!-- 슬라이드 배너 -->
	<div id="layout">
	<b id="left">&lt;</b>
	<div id="banner">
      <a class="w3-button" style="background-color:#87C6C8; padding:7px" href="https://www.lottesuper.co.kr">
        <img src="./static/image/lotte.png" style="width:150px;height:50px;">
      </a>
      <img src="./static/image/at.png" width="150" height="50">
      <img src="./static/image/homeplus.jpg" width="150" height="50" class="firstImg">
      <img src="./static/image/coupang.jp" width="150" height="50">
      <img src="./static/image/lotte.png" width="150" height="50">
      <img src="./static/image/at.png" width="150" height="50">
	</div>
	<b id="right">&gt;</b>
	</div>



 <hr>
  <!-- Contact Section -->
  <div class="w3-container w3-padding-64" id="contact">
    <div class="w3-col l6 w3-padding-large">
    <h1>Contact</h1><br>
      <a href="https://github.com/ginttone/Zipbob" title="주소로 이동" target="_blank" class="w3-hover-text-white"><i class="fa fa-github w3-hover-opacity"></i> Zipbob </a>
    <p>궁금하신 점이 있다면 메모로 남겨주세요.</p>
    <p class="w3-text-blue-grey w3-large"><b>Catering Service, 42nd Living St, 43043 New York, NY</b></p>
    <p>You can also contact us by phone 00553123-2323 or email catering@catering.com, or you can send us a message here:</p>
<!--    <form action="/action_page.php" target="_blank">-->
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
<!--      <p><input class="w3-input w3-padding-16" type="number" placeholder="How many people" required name="People"></p>-->
<!--      <p><input class="w3-input w3-padding-16" type="datetime-local" placeholder="Date and time" required name="date" value="2020-11-16T20:00"></p>-->
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Message \ Special requirements" required name="Message"></p>
      <p><button class="w3-button w3-light-grey w3-section" type="submit">SEND MESSAGE</button></p>
      <p>서울특별시 서초구 서초동 123-12</p>
      <p>고객센터 1234-5678</p>
      <p>평일 09-18시</p>
    </form>
    </div>
  </div>

<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

<!-- 플로팅 -->
<div style="POSITION: fixed; MARGIN-LEFT: 590px; TOP: 650px; LEFT: 50%;z-index:9999;">
      <a href="javascript:;" class="menu-btn">플로팅</a>
  </div>
</div>

<!-- 슬라이드 배너 -->
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

	<script>
	$(document).ready(function(){
			var i=$("#banner img:first-child").attr('src').substr(-5,1);
			/****** 처음부터 자동 *****/
			var rolling=setInterval(frame, 1500);
			function frame() {

					$("#banner img").removeClass("firstImg").animate({left:'-=160px'});
					i++;
					if( i==5) {i=1}
					var appendImg="<img src='images/roll_img_"+i+".jpg'>";
					$("#banner img:nth-child(3)").addClass("firstImg");
					$("#banner").append(appendImg);
					if( $("#banner img:first-child").position().left<=-320 ) {  $("#banner img:first-child").remove()  }
			}

			/****** 왼쪽버튼 클릭시 ******/
			$("#left").click(function(){
				clearInterval();
				$("#banner img").removeClass("firstImg").animate({left:'-=160px'});
				i++;
				if( i==5) {i=1}
				var appendImg="<img src='images/roll_img_"+i+".jpg'>";
				$("#banner img:nth-child(3)").addClass("firstImg");
				$("#banner").append(appendImg);
				if( $("#banner img:first-child").position().left<=-320 ) {  $("#banner img:first-child").remove()  }
			});

			/****** 오른쪽버튼 클릭시 ******/
			$("#right").click(function(){
				$("#banner img").removeClass("firstImg").animate({left:'+=160px'});
				i=i-1;
				if( i==0) {i=4}
				var prependImg="<img src='images/roll_img_"+i+".jpg'>";
				$("#banner img:nth-child(2)").addClass("firstImg");
				$("#banner").prepend(prependImg);
				if( $("#banner img:last-child").position().left>=640 ) {  $("#banner img:last-child").remove()  }
			});
	});
	</script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
      $(document).ready(function(){
      });
    </script>
</head>



</html>
