<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Zipbob</title>
<!-- 아이콘 링크 -->
	<script src="https://kit.fontawesome.com/850573ba23.js" crossorigin="anonymous"></script>
<!--하이차트 링크-->
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/series-label.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>
	<script src="https://code.highcharts.com/modules/accessibility.js"></script>
	<script src="https://code.highcharts.com/themes/high-contrast-light.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
<!--css,js링크-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="/static/css/zipbob.css">
	<link rel="stylesheet" href="/static/css/chatbot.css">
	<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/17119/tablesort.min.js"></script>
	<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/17119/tablesort.number.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<!--등락률 테이블 솔트-->
	<script src='tablesort.number.js'></script>
	<script src='tablesort.date.js'></script>
	<script>new Tablesort(document.getElementById('table-id'));</script>
<!--  챗봇  -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="/static/css/chat.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/js/responses.js"></script>
    <script src="/static/js/chat.js"></script>
<!-- End 챗봇    -->
</head>

<body>
<!--End 챗봇아이콘-->
	<div class="chat-bar">
            <button id="chat-button" type="button" class="collapsible_j">Chat bot!
                <i style= "color: #fff;" class="fa fa-fw fa-comments-o chat-icon"></i>
            </button>

            <div class="content_j">
                <div class="full-chat-block">
                    <div class="outer-container">
                        <div class="chat-container">
                            <div id="chatbox">
                                <h5 id="chat-timestamp"></h5>
                                <p id="botStarterMessage" class="botText"><span>Loading...</span></p>
                            </div>

                            <div class="chat-bar-input-block">
                                <div id="userInput">
                                    <input id="textInput" class="input-box" type="text" name="msg"
                                    placeholder="엔터(Enter) 키를 눌러 메시지를 보내세요">
                                    <p></p>
                                </div>

                                <div class="chat-bar-icons">
                                    <i style="color: crimson;" class="fa fa-fw fa-heart chat-icon"
                                    onclick="heartButton()"></i>
                                    <i style="color: #333;" class="fa fa-fw fa-send chat-icon"
                                    onclick="sendButton()"></i>
                                </div>
                            </div>
                            <div id="chat-bar-bottom">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--네비바 ,로그인, 회원가입-->
	<div class="containerf">
        <header>
            <nav>
                <div class="nav-logo">
                   <h1>
					   <a href="#">Zipbob</a>
				   </h1>
                </div>
                <div class="nav-menu">
                    <ul >
                        <li><a href="#this-week">This Week</a></li>
                        <li><a href="#next-week">Next Week</a></li>
                        <li><a href="#next-table">Next Table</a></li>
                        <li><a href="#recipe">Recipe</a></li>
                        <li><a href="#allRecipe">All Recipe</a></li>
                    </ul>
                </div>
                <div class="nav-sign">
                    <ul>
                        <li onclick="signupToggle()">Join Us</li>
                        <li onclick="loginToggle()">Log In</li>
                    </ul>
                </div>
            </nav>
        </header>
    </div><!--containerf-->

    <div class="signup-form">
        <div class="form">
            <div class="close" onclick="signupToggle()">&times;</div>
            <div class="text">
                <h1>Register form</h1>
            </div>
            <form action="#">
                <input type="text" placeholder="Full Name">
                <input type="email" placeholder="Email ID">
                <input type="password" placeholder="Password">
                <input type="password" placeholder="Confirm password">
                <input type="submit" value="Register" style="font-size:1rem;font-family: 'Merriweather';">
            </form>
        </div>
    </div><!--joinus-->
    <div class="login-form">
        <div class="form">
            <div class="close" onclick="loginToggle()">&times;</div>
            <div class="text">
                <h1>LogIn</h1>
            </div>
            <form action="#">
                <input type="email" placeholder="Email ID">
                <input type="password" placeholder="password">
                <input type="submit" value="Login" style="font-size:1rem;font-family: 'Merriweather';">
            </form>
        </div>
    </div><!--login-->

<!--콘텐츠 설명 -->
	<div class="contents-full" id="contents">
		<div class="con-explain">
			<div class="con">
				<i class="fas fa-chart-bar"></i>
				<h2>THIS WEEK</h2>
				<p>농수산물의 이번주 가격 상승과 하락</p>
			</div>
			<div class="con">
				<i class="fas fa-chart-line"></i>
				<h2>NEXT WEEK</h2>
				<p>농수산물의 다음주 가격예측</p>
			</div>
			<div class="con">
				<i class="fas fa-chart-pie"></i>
				<h2>RECIPE</h2>
				<p>예측된 작물의 관련 추천 레시피</p>
			</div>
		</div><!--con-explain-->
	</div>
	<!--End 콘텐츠 설명-->

<script src="/static/js/index.js"></script>
</body>
</html>