<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Zipbob</title>
<!-- 아이콘 링크 -->
	<script src="https://kit.fontawesome.com/850573ba23.js" crossorigin="anonymous"></script>
<!--하이차트 링크-->
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/series-label.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>
	<script src="https://code.highcharts.com/modules/accessibility.js"></script>
	<script src="https://code.highcharts.com/themes/high-contrast-light.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
<!--css,js링크-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="/static/css/zipbob.css">
	<link rel="stylesheet" href="/static/css/chatbot.css">
	<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/17119/tablesort.min.js"></script>
	<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/17119/tablesort.number.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<!--등락률 테이블 솔트-->
	<script src='tablesort.number.js'></script>
	<script src='tablesort.date.js'></script>
	<script>new Tablesort(document.getElementById('table-id'));</script>
<!--  챗봇  -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="/static/css/chat.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/js/responses.js"></script>
    <script src="/static/js/chat.js"></script>
<!-- End 챗봇    -->
</head>

<body>
<!--End 챗봇아이콘-->
	<div class="chat-bar">
            <button id="chat-button" type="button" class="collapsible_j">Chat bot!
                <i style= "color: #fff;" class="fa fa-fw fa-comments-o chat-icon"></i>
            </button>

            <div class="content_j">
                <div class="full-chat-block">
                    <div class="outer-container">
                        <div class="chat-container">
                            <div id="chatbox">
                                <h5 id="chat-timestamp"></h5>
                                <p id="botStarterMessage" class="botText"><span>Loading...</span></p>
                            </div>

                            <div class="chat-bar-input-block">
                                <div id="userInput">
                                    <input id="textInput" class="input-box" type="text" name="msg"
                                    placeholder="엔터(Enter) 키를 눌러 메시지를 보내세요">
                                    <p></p>
                                </div>

                                <div class="chat-bar-icons">
                                    <i style="color: crimson;" class="fa fa-fw fa-heart chat-icon"
                                    onclick="heartButton()"></i>
                                    <i style="color: #333;" class="fa fa-fw fa-send chat-icon"
                                    onclick="sendButton()"></i>
                                </div>
                            </div>
                            <div id="chat-bar-bottom">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--네비바 ,로그인, 회원가입-->
	<div class="containerf">
        <header>
            <nav>
                <div class="nav-logo">
                   <h1>
					   <a href="#">Zipbob</a>
				   </h1>
                </div>
                <div class="nav-menu">
                    <ul >
                        <li><a href="#this-week">This Week</a></li>
                        <li><a href="#next-week">Next Week</a></li>
                        <li><a href="#next-table">Next Table</a></li>
                        <li><a href="#recipe">Recipe</a></li>
                        <li><a href="#allRecipe">All Recipe</a></li>
                    </ul>
                </div>
                <div class="nav-sign">
                    <ul>
                        <li onclick="signupToggle()">Join Us</li>
                        <li onclick="loginToggle()">Log In</li>
                    </ul>
                </div>
            </nav>
        </header>
    </div><!--containerf-->

    <div class="signup-form">
        <div class="form">
            <div class="close" onclick="signupToggle()">&times;</div>
            <div class="text">
                <h1>Register form</h1>
            </div>
            <form action="#">
                <input type="text" placeholder="Full Name">
                <input type="email" placeholder="Email ID">
                <input type="password" placeholder="Password">
                <input type="password" placeholder="Confirm password">
                <input type="submit" value="Register" style="font-size:1rem;font-family: 'Merriweather';">
            </form>
        </div>
    </div><!--joinus-->
    <div class="login-form">
        <div class="form">
            <div class="close" onclick="loginToggle()">&times;</div>
            <div class="text">
                <h1>LogIn</h1>
            </div>
            <form action="#">
                <input type="email" placeholder="Email ID">
                <input type="password" placeholder="password">
                <input type="submit" value="Login" style="font-size:1rem;font-family: 'Merriweather';">
            </form>
        </div>
    </div><!--login-->

<!--콘텐츠 설명 -->
	<div class="contents-full" id="contents">
		<div class="con-explain">
			<div class="con">
				<i class="fas fa-chart-bar"></i>
				<h2>THIS WEEK</h2>
				<p>농수산물의 이번주 가격 상승과 하락</p>
			</div>
			<div class="con">
				<i class="fas fa-chart-line"></i>
				<h2>NEXT WEEK</h2>
				<p>농수산물의 다음주 가격예측</p>
			</div>
			<div class="con">
				<i class="fas fa-chart-pie"></i>
				<h2>RECIPE</h2>
				<p>예측된 작물의 관련 추천 레시피</p>
			</div>
		</div><!--con-explain-->
	</div>
	<!--End 콘텐츠 설명-->

<!--이번주동향-->
	<div class="tw-box"  id="this-week" >
		<div class="container">
			<div class="divider">
				<h1>THIS WEEK</h1>
			</div>
			<div class="divider_body">
				<div class="divider_th">
					<div class="content-th" id="circle">
						<div class="reci">
							<h1>Top 1 name</h1>
							<img src="/static/image/background.jpeg" class="round" width="260" height="260">
							<h3>이번주 상승가격 num%<i class="fas fa-arrow-up"></i></h3>
						</div>
						<div class="reci">
							<h1>Top 2 name</h1>
							<img src="/static/image/background.jpeg" class="round" width="260" height="260">
							<h3>이번주 상승 가격 num%<i class="fas fa-arrow-up"></i></h3>
						</div>
						<div class="reci">
							<h1>Top 3 name </h1>
							<img src="/static/image/background.jpeg" class="round1" width="260" height="260">
							<h3>이번주 하락가격 num%<i class="fas fa-arrow-down"></i></h3>
						</div>
						<div class="reci">
							<h1>Top 4 name</h1>
							<img src="/static/image/background.jpeg" class="round1" width="260" height="260">
							<h3>이번주 하락가격 num%<i class="fas fa-arrow-down"></i></h3>
						</div>
					</div><!--circle-->
				</div><!--divider_th-->
			</div><!--divider_b-->
		</div>
	</div>
	<!--End 이번주동향-->

<!--다음주 가격 차트-->
	<div class="nw-box" id="next-week">
            <div class="container">
                <div class="divider">
                    <h1>NEXT WEEK</h1>
                </div>
                <div class="divider_body">
                    <div class="nw-chart">
                        <figure class="highcharts-figure">
                            <div id="hi_container1"></div>
                            <p class="highcharts-description">설명</p>
                        </figure>
                    </div><!--nw-chart-->
                </div><!--divider-nw-->
            </div><!--container-->
        </div><!--nw-box-->

	<!--End 다음주 가격 차트-->

<!--다음주 전망 테이블-->
	<div class="next-week-table" id="next-table">
		<div class="container">
			<div class="divider">
				<h1>WHAT'S NEXT</h1>
			</div>
			<div class="divider_body">
				<div class="nw-content" id="nw-table">
					<table id="my-table">
						<thead>
							<tr>
								<th>Item</th>
								<th>/g</th>
								<th>Before</th>
								<th>After</th>
								<th>Leverage</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>감자</td>
								<td>1</td>
								<td>1000</td>
								<td>1500</td>
								<td>22</td>
							</tr>
						</tbody>
					</table><!--my-table for문돌려야-->

					<table id="my-table2">
						<thead>
							<tr>
								<th>Item</th>
								<th>/g</th>
								<th>Before</th>
								<th>After</th>
								<th>Leverage</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>감자</td>
								<td>1</td>
								<td>1000</td>
								<td>1500</td>
								<td>22</td>
							</tr>
						</tbody>
					</table><!--my-table2-->
				</div><!--nw-table-->
			</div><!--divider_-->
		</div><!--container-->
	</div>
	<!--End 다음주 전망 테이블-->

<!--추천레시피-->
	<div class="recommend" id="recipe" >
		<div class="container">
			<div class="divider">
				<h1>RECIPE</h1>
			</div>
			<div class="divider_body" >
					<div class="recipe-circle">
						<div class="mySlides">
							<img src="/static/image/apple.jpg" style="width:100%">
							<h1>1위 추천레시피</h1>
						</div>
						<div class="mySlides">
							<img src="/static/image/tteokbokki.jpg" style="width:100%">
							<h1>2위 추천레시피</h1>
						</div>
						<div class="mySlides">
							<img src="/static/image/apple.jpg" style="width:100%">
							<h1>3위 추천레시피</h1>
						</div>
						<div class="mySlides">
							<img  src="/static/image/tteokbokki.jpg" style="width:100%">
							<h1>4위 추천레시피</h1>
						</div>
					</div>
            </div><!--divider_-->
		</div><!--container-->
	</div>
	<!--End 추천레시피-->

<!--추천레시피 그래프-->
	<div class="recipe-graph">
		<div class="container">
			<div class="divider">
				<h1>Graph</h1>
			</div>
			<div class="divider_body">
				<div class="recipe-gr">
					<figure class="highcharts-figure2">
						<div id="hi-container2"></div>
						<p class="highcharts-description2">
						   추천레시피에들어감
						</p>
						<button id="plain">기본</button>
						<button id="polar">파이차트</button>
					</figure>
				</div>
			</div><!--divider_-->
		</div><!--container-->
	</div>
	<!--End 추천레시피 그래프-->

<!--추천레시피 검색 -->
 <div class="search-recipe" id="allRecipe">
	 <div class="divider">
		 <h1>All Recipe</h1>
	 </div>
		<div class="accordion">
			<div class="question">
				<input type="text" placeholder="검색어를 입력하세요">
				<input type="submit" value="click">
			</div>
			<div class="answer">
				<div class="search-des">
					<p>sssssss</p>
				</div>
			</div>
		</div>
 </div>
<!--End 추천레시피 검색-->


<!--연락-->
<div class="contact-us">
    <div class="divider-us">
		<br>
        <h1>
            <a href="https://github.com/ginttone/Zipbob" title="주소로 이동" target="_blank" class="w3-hover-text-white"><i class="fa fa-github w3-hover-opacity"></i>Zipbob github</a>
        </h1>
    </div>
	<br><br><br><br><br><br><br><br><br><br>
    <div class="divider-info">
		<div class="list" style="position:absolute; left:80%;">
            <h1>교육문의 <a href="https://www.multicampus.com/">멀티캠퍼스</a></h1>
            <p>고객센터 1234-5678 평일 09-18시</p>
        </div>
    </div>
</div>
<!--End 연락-->
<!--베너-->
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<style>
#layout {position: absolute; left: 25%; maring: auto; width: 900px; height:50px; display: flex; flex-warp: wrap; align-items: center; }
#layout b {width: 15px; position: relative; z-index: 1; cursor: pointer;  }
#banner  { position:relative; z-index:0; width:900px; height:50px; overflow:hidden; margin:auto; }
#banner img {position: absolute; width: 150px; height: 50px; }
#banner img:nth-child(1) { left:-180px; z-index:2; }
#banner img:nth-child(2) { left:0px; }
#banner img:nth-child(3) { left:180px; }
#banner img:nth-child(4) { left:360px; }
#banner img:nth-child(5) { left:540px; }
#banner img:last-child { left:900px; }
</style>

<script>
$(document).ready(function(){
var i=$("#banner img:first-child").attr('src').substr(-5,1);
/****** 처음부터 자동 *****/
var rolling=setInterval(frame, 2500);
function frame() {

 $("#banner img").removeClass("firstImg").animate({left:'-=180px'});
 i++;
 if( i==7) {i=1}
 var appendImg="<img src='./static/image/roll_img_"+i+".jpg'>";
 $("#banner img:nth-child(2)").addClass("firstImg");
 $("#banner").append(appendImg);
 if( $("#banner img:first-child").position().left<=-200 ) {  $("#banner img:first-child").remove()  }
}

/****** 왼쪽버튼 클릭시 ******/
$("#left").click(function(){
clearInterval();
$("#banner img").removeClass("firstImg").animate({left:'-=180px'});
i++;
if( i==7) {i=1}
var appendImg="<img src='./static/image/roll_img_"+i+".jpg'>";
$("#banner img:nth-child(2)").addClass("firstImg");
$("#banner").append(appendImg);
if( $("#banner img:first-child").position().left<=-200 ) {  $("#banner img:first-child").remove()  }
});

/****** 오른쪽버튼 클릭시 ******/
$("#right").click(function(){
$("#banner img").removeClass("firstImg").animate({left:'+=180px'});
i=i-1;
if( i==0) {i=7}
var prependImg="<img src='./static/image/roll_img_"+i+".jpg'>";
$("#banner img:nth-child(2)").addClass("firstImg");
$("#banner").prepend(prependImg);
if( $("#banner img:last-child").position().left>=900 ) {  $("#banner img:last-child").remove()  }
});
});
</script>
</head>
<div class="divider-ban">
	<br><br>
<div id="layout">
<b id="left" style="color:white;">&lt;</b>
<div id="banner">
 <a class="w3-button" href="">
	 <img src="./static/image/roll_img_6.jpg" width="150" height="50">
 </a>
 <a class="w3-button" href="http://www.ssg.com" >
	 <img src="./static/image/roll_img_1.jpg" width="150" height="50">
 </a>
 <a class="w3-button" href="https://www.homeplus.co.kr">
	 <img src="./static/image/roll_img_2.jpg" width="150" height="50" class="firstImg">
 </a>
 <a class="w3-button" href="https://www.coupang.com">
	 <img src="./static/image/roll_img_3.jpg" width="150" height="50">
 </a>
 <a class="w3-button" href="https://www.lottesuper.co.kr">
	 <img src="./static/image/roll_img_4.jpg" width="150" height="50">
 </a>
 <a class="w3-button" href="https://www.gsfresh.com">
	 <img src="./static/image/roll_img_5.jpg" width="150" height="50">
 </a>
</div>
<b id="right" style="color:white;">&gt;</b>
</div>
</div>
<!--End 베너-->
<script src="/static/js/index.js"></script>
</body>
</html>