<!DOCTYPE html>
<html>
<title>premium page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/plate.css">

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: 'Times New Roman', serif;}

body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  display: none
   min-height: 600px;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("/static/image/contact-bg.png");
  min-height: 200px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("/static/image/hero01.png");
  min-height: 200px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

/* recipe modal Slides */
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

</style>
<body>

<!-- 큰창 카테고리 네비바 Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar " id="myNavbar">
    <a class="w3-bar-item w3-hover-opacity w3-button w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>

    <a href="#contact" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-opacity "><i class="fa fa-envelope"></i> Contact</a>
    <a href="#recipe" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-opacity"> Recipe</a>
    <a href="#nextweek" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-opacity"> NEXTweek</a>
    <a href="#thisweek" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-opacity "> THISweek</a>
    <a href="#home"  class="w3-bar-item w3-button w3-right w3-hover-opacity ">HOME</a>

    <div class="w3-section w3-hide-smallw3-hover-opacity " style="width:15%">
      <button onclick="myFunction2('signin_1')" class="w3-button w3-block">
      SignIn1</button>
      <div id="signin_1" class="w3-hide w3-container">
        <p>여기에</p>
      </div>
    </div>

  </div>
</div>
  <!-- 작은창 카테고리 네비바 Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
    <div class="accordian w3-bar-item w3-button " onclick="toggleFunction()" >
      <input type="checkbox" id="signin_2">
      <label for="signin_2">SignIn</label>
      <div><p>로그인할수 있게</p></div>
    </div>
    <a href="#thisweek" class="w3-bar-item w3-button" onclick="toggleFunction()">THISweek</a>
    <a href="#nextweek" class="w3-bar-item w3-button" onclick="toggleFunction()">NEXTweek</a>
    <a href="#recipe" class="w3-bar-item w3-button" onclick="toggleFunction()">Recipe</a>
    <a href="#contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a>
  </div>
</div>

  <!-- 홈화면 사진 여러장 웰컴글과 함께 -->
<div id="home">
  <div class="bgimg-1 w3-display-container w3-center">
    <img src="/static/image/hero01.png" style="width:100%">
    <div class="w3-display-right w3-container w3-text-gray w3-padding-32 w3-hide-small">
      <h3>웰컴 글</h3>
    </div>
  </div>
  <div class="bgimg-1 w3-display-container w3-center">
    <img src="/static/image/hero02.png" style="width:100%">
    <div class="w3-display-right w3-container w3-text-gray w3-padding-32 w3-hide-small">
      <h3>여기에는 간단한 소개가 들어갈 것</h3>
    </div>
  </div>
</div>

  <!-- 이번주 동향 띄-->
<div class="bgimg-3 w3-display-container w3-opacity-min" id="thisweek">
  <div class="w3-display-middle">
     <span class="w3-xxlarge w3-text-white w3-wide">THIS week</span>
  </div>
</div>

  <!-- 이번주 동향 소개-->
<div class="w3-content w3-container w3-padding-64" >
  <h3 class="w3-center">Trend this week</h3>
  <p class="w3-center"><em>You can see the rise and fall in the price of agricultural and fishery products today. </em></p>
</div>

  <!-- 이번주 동향 -->
<div class="w3-row w3-center w3-amber w3-padding-64">
  <div class="w3-row-padding w3-margin-top">

  <div class="w3-cell">
    <div  class="w3-card">
      <img src="/static/image/d1.jpg" style="max-width:200px">
      <div class="w3-container">
        <h5>상승1</h5>
      </div>
    </div>
  </div>

  <div class="w3-cell">
    <div class="w3-card" >
      <img src="/static/image/beans.png" style="max-width:200px">
      <div class="w3-container">
        <h5>상승2</h5>
      </div>
    </div>
  </div>

  <div class="w3-cell">
    <div class="w3-card">
      <img src="/static/image/d1.jpg" style="max-width:200px">
      <div class="w3-container">
        <h5>하락1</h5>
      </div>
    </div>
  </div>

    <div class="w3-cell">
    <div class="w3-card ">
      <img src="/static/image/d1.jpg" style="max-width:200px">
      <div class="w3-container">
        <h5>하락2</h5>
      </div>
    </div>
  </div>
</div>
</div>


  <!-- 다음주 전망 띄-->
<div class="bgimg-3 w3-display-container w3-opacity-min" id="nextweek">
  <div class="w3-display-middle">
     <span class="w3-xxlarge w3-text-white w3-wide">다음주 전망</span>
  </div>
</div>


  <!-- 다음주 전망-->
<div class="w3-content w3-container w3-padding-64" >
  <h3 class="w3-center">다음주 전망 그래프</h3>
  <p class="w3-center"><em>I love photography</em></p>
  <img src="/static/image/graph1.png" style="width:100%">
</div>

  <!--다음주 전망 표 아코디언-->
<button onclick="myFunction('Demo2')" class="w3-btn w3-block w3-red">
다음주 전망 표</button>

<div id="Demo2" class="w3-hide w3-container w3-center w3-pale-red">
  <p>Lorem ipsum...</p>
    <table border="1">
        <!-- header -->
        <tr>
            <th>Title</th>
            <th>Link</th>
        </tr>
        <!-- content -->
        {% for row in erows %}
        <tr>
            <td>{{ row.title }}</td>
            <td>{{ row.method }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
  <!-- 추천레시피 이름-->
<div class="bgimg-2 w3-display-container w3-opacity-min" id="recipe">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">Recipe</span>
  </div>
</div>


  <!-- 추천레시피 팝업 Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64" >
<!--  <h3 class="w3-center">추천레시피에대한 간단 소개</h3>-->
<!--  <p class="w3-center"><em>간단설명<br> Click on the images to make them bigger</em></p><br>-->

<!--  <div class="w3-container w3-cell">-->
<!--  <h3>1위 사과</h3>-->
<!--  <img src="/static/image/apple.jpg" class="w3-circle" onclick="onClick(this)" alt="" style="width:200px">-->
<!--  </div>-->

<!--<div class="w3-container w3-cell">-->
<!--  <h3>2위 닭</h3>-->
<!--  <img src="/static/image/dakgalbi.jpg" class="w3-circle"  onclick="onClick(this)" alt="" style="width:200px">-->
<!--</div>-->

<!--<div class="w3-container w3-cell">-->
<!--  <h3>3위 버섯 </h3>-->
<!--  <img src="/static/image/mille-feuille.jpg" class="w3-circle"  onclick="onClick(this)" alt="" style="width:200px">-->
<!--</div>-->

<!--<div class="w3-container w3-cell">-->
<!--  <h3>4위 사과</h3>-->
<!--  <img src="/static/image/pa.jpg" class="w3-circle"  onclick="onClick(this)" alt="" style="width:200px">-->
<!--</div>-->
<!--  </div>-->


  <!-- 추천레시피 이미지 누르면 요리페이지 모달창  뜨게-->
<!--<div id="modal01" class="w3-modal" style="background-color:rgba(255, 100, 0, 0.2);" onclick="this.style.display='none'">-->
<!--  <span class="w3-button w3-large w3-display-topright" style="background-color:rgba(255, 0, 0, 0.2);" title="Close Modal Image"><i class="fa fa-remove"></i></span>-->
<!--  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">-->
<!--    <img id="img01" class="w3-image">-->
<!--    <p id="caption" class="w3-opacity w3-large"></p>-->
<!--  </div>-->
<!--</div>-->

<div class="w3-container">

  <h3 class="w3-center">추천레시피에대한 간단 소개</h3>
  <p class="w3-center"><em>간단설명<br> Click on the images to make them bigger</em></p><br>

<div class="w3-row-padding" style="margin:0 -16px">
  <div class="w3-container w3-cell">
      { for row in recipe  }
    <h3>1위 {{row.title}}</h3>
    <img src=".Crawling/img/recipe/{{row.title}}.jpg" style="max-width:200px;cursor:pointer"
    onclick="openModal();currentDiv({{row.num}})" class="w3-circle">
  </div>
  { end }
  </div>
</div>

<div id="myModal" class="w3-modal w3-red">
 <span class="w3-text-white w3-xxlarge w3-hover-text-grey w3-container w3-display-topright" onclick="closeModal()" style="cursor:pointer">×</span>

  <div class="w3-modal-content">
    <div class="w3-content w3-text-black" style="max-width:100%">
     <img class="mySlides" src="/static/image/{{row.title}}.jpg" style="width:100%">

       <div class="w3-row w3-black w3-center">
        <div class="w3-display-container">
         <p id="caption"></p>
         <span class="w3-display-left w3-btn" onclick="plusDivs(-1)">❮</span>
         <span class="w3-display-right w3-btn" onclick="plusDivs(1)">❯</span>
        </div>

        <div class="w3-col s4">
         <img class="demo w3-opacity w3-hover-opacity-off" src="/static/image/mille-feuille.jpg" style="width:100%" onclick="currentDiv({{row.num}})" alt="만들기1">
        </div>
      </div>
     </div> <!-- End row -->
   </div> <!-- End w3-content -->
  </div> <!-- End modal content -->
</div> <!-- End modal -->

<div class="w3-content w3-container w3-padding-64" >
  <h3 class="w3-center">농수산물과 레시피 관계 그래프</h3>
  <p class="w3-center"><em>I love photography</em></p>
  <img src="/static/image/graph1.png" style="width:100%">
</div>

<!-- 모든레시피 아코디언 메뉴 페이지네이션-->

<button onclick="myFunction('Demo3')" class="w3-btn w3-block w3-red">
더많은 레시피</button>

<div id="Demo3" class="w3-hide w3-container w3-center w3-pale-red">
  <p>Centered content as well!</p>
  <div class="container">

    <table class="w3-table-all">
        <thead>
            <tr class="w3-red">
                <th>title</th>
                <th>ingredients</th>
                <th>method</th>
            </tr>
        </thead>
        <tbody>
            {% for row in page_obj %}
            <tr>
                <td>{{ row.title }}</td>
                <td>{{ row.method }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul class="pagination">
        <li class="page-item active"><a class="page-link" href="#">Page {{ page_obj.number }} of {{ paginator.num_pages }}</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
    </ul>
</div>

</div>

<!-- 광고 베너 -->
<div class="w3-row w3-center w3-amber w3-padding-large">

  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">베너</span><br>
  </div>

  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">베너</span><br>
  </div>

  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">베너</span><br>
  </div>

  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">베너</span><br>
  </div>

</div>

<!-- 연락부분 -->
<footer class="w3-topleft w3-black w3-row w3-padding-small w3-opacity w3-hover-opacity-off" id="contact">
  <div class="w3-xlarge w3-section">
    <a href="https://github.com/ginttone/Zipbob" title="주소로 이동" target="_blank" class="w3-hover-text-white"><i class="fa fa-github w3-hover-opacity"></i> Zipbob </a>
  </div>

    <p style="color:Gray;">
      Zipbob Link<br>
      Zipbob Link<br>
      <br><br></p>

  <div class="w3-bottomleft" style="color:Lightgray;">Service center 1234-5678 Weekdays 09:00~18:00  (Breaktime 12:00~13:00)</div>
</footer>

<script>
// Modal Image Gallery(choose recipe)
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}


// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" ;
    } else {
        navbar.className = navbar.className.replace(" w3-card w3-animate-top", "");
    }
}

// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

// home Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("bgimg-1");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 4000);
}

function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
function myFunction2(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

// slideshow recipe
function openModal() {
  document.getElementById('myModal').style.display = "block";
}

function closeModal() {
  document.getElementById('myModal').style.display = "none";
}

var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-opacity-off";
  captionText.innerHTML = dots[slideIndex-1].alt;
}

</script>

  <script type="text/javascript">
        $('.slider').slick({
            infinite: true,
            autoplay: true,
            autoplaySpeed: 3500,
            arrows: false,
            fade: true,
            cssEase: 'linear'
        });

    </script>

</body>
</html>
