<!DOCTYPE html>
<html>
<title>premium page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/plate.css">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/accodian.css">

<body>

<!-- 큰창 카테고리 네비바 Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <div class="add">
    <a href="#home"  class="add w3-bar-item w3-button ">HOME</a>
    <a href="#contact" class="w3-bar-item w3-button w3-hide-small w3-right"><i class="fa fa-envelope"></i> Contact</a>
    <a href="#recipe" class="w3-bar-item w3-button w3-hide-small w3-right"> Recipe</a>
    <a href="#nextweek" class="w3-bar-item w3-button w3-hide-small w3-right"> NEXTweek</a>
    <a href="#thisweek" class="w3-bar-item w3-button w3-hide-small w3-right"> THISweek</a>

    <div class="accordian w3-bar-item w3-button" >
      <input type="checkbox" id="signin_1">
      <label for="signin_1">SignIn1<em></em></label>
      <div><p>로그인할수 있게</p></div>
    </div>

   </div>
  </div>

  <!-- 작은창 카테고리 네비바 Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
    <div class="accordian" >
      <input type="checkbox" id="signin_2">
      <label for="signin_2">SignIn<em></em></label>
      <div><p>로그인할수 있게</p></div>
    </div>
    <a href="#thisweek" class="w3-bar-item w3-button" onclick="toggleFunction()">THISweek</a>
    <a href="#nextweek" class="w3-bar-item w3-button" onclick="toggleFunction()">NEXTweek</a>
    <a href="#recipe" class="w3-bar-item w3-button" onclick="toggleFunction()">Recipe</a>
    <a href="#contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a>
  </div>
</div>

  <!-- 홈화면 사진 여러장 웰컴글과 함께 -->
<div id="home">
  <div class="bgimg-1 w3-display-container w3-center">
    <img src="/static/image/peach.jpg" style="width:100%">
    <div class="w3-display-right w3-container w3-text-gray w3-padding-32 w3-hide-small">
      <h3>웰컴 글</h3>
    </div>
  </div>
  <div class="bgimg-1 w3-display-container w3-center">
    <img src="/static/image/peach.jpg" style="width:100%">
    <div class="w3-display-right w3-container w3-text-gray w3-padding-32 w3-hide-small">
      <h3>여기에는 간단한 소개가 들어갈 것</h3>
    </div>
  </div>
</div>
  <!-- 이번주 동향 띄-->
<div class="bgimg-3 w3-display-container w3-opacity-min" id="thisweek">
  <div class="w3-display-middle">
     <span class="w3-xxlarge w3-text-white w3-wide">이번주 동향</span>
  </div>
</div>

  <!-- 이번주 동향 소개-->
<div class="w3-content w3-container w3-padding-64" >
  <h3 class="w3-center">이번주동향 간단소개</h3>
  <p class="w3-center"><em>I love photography</em></p>
</div>

  <!-- 이번주 동향 -->
<div class="w3-row w3-center w3-amber w3-padding-64">
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">상승1</span><br>
    <p>Dandelion cucumber earthnut pea peanut soko zucchini</p>
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">상승2</span><br>
    <p>Dandelion cucumber earthnut pea peanut soko zucchini</p>
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">하락1</span><br>
    <p>설명글 위치</p>
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">하락2</span><br>
    Meetings
  </div>
</div>

  <!-- 다음주 전망 띄-->
<div class="bgimg-3 w3-display-container w3-opacity-min" id="nextweek">
  <div class="w3-display-middle">
     <span class="w3-xxlarge w3-text-white w3-wide">다음주 전망</span>
  </div>
</div>


  <!-- 다음주 전망-->

<div class="w3-content w3-container w3-padding-64" >
  <h3 class="w3-center">다음주 전망 그래프</h3>
  <p class="w3-center"><em>I love photography</em></p>
  <img src="/static/image/graph1.png" style="width:100%">
</div>

  <!--다음주 전망 표 슬라이드-->
<div class="accordian">
    <input type="checkbox" id="answer01">
    <label for="answer01">다음주 전망 표<em></em></label>
    <div><p><img src="/static/image/graph2.png" style="width:100%"></p></div>
  </div>

  <!-- 추천레시피 이름-->
<div class="bgimg-2 w3-display-container w3-opacity-min" id="recipe">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">추천레시피</span>
  </div>
</div>


  <!-- 추천레시피 팝업 Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64" >
  <h3 class="w3-center">추천레시피에대한 간단 소개</h3>
  <p class="w3-center"><em>간단설명<br> Click on the images to make them bigger</em></p><br>

  <div class="w3-row-padding w3-center wrapper">
      <div class="box">
            <img src="/static/image/apple.jpg" onclick="onClick(this)" alt="">
        </div>
      <div class="box">
            <img src="/static/image/dakgalbi.jpg" onclick="onClick(this)" alt="">
        </div>
      <div class="box">
            <img src="/static/image/mille-feuille.jpg" onclick="onClick(this)" alt="">
        </div>
      <div class="box">
            <img src="/static/image/special-3.png" onclick="onClick(this)" alt="">
        </div>
      <div class="box">
            <img src="/static/image/mille-feuille.jpg" onclick="onClick(this)" alt="">
        </div>
    </div>
  </div>


  <!-- 추천레시피 이미지 누르면 요리페이지 모달창  뜨게-->
<div id="modal01" class="w3-modal" style="background-color:rgba(255, 100, 0, 0.2);" onclick="this.style.display='none'">
  <span class="w3-button w3-large w3-display-topright" style="background-color:rgba(255, 0, 0, 0.2);" title="Close Modal Image"><i class="fa fa-remove"></i></span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<!-- 모든레시피 아코디언 메뉴 페이지네이션-->
  <div class="accordian">
    <input type="checkbox" id="answer02">
    <label for="answer02">더 많은 레시피<em></em></label>
    <div><p>다르게 보여지나 확인 </p></div>
  </div>

<!-- 광고 베너 -->
<div class="w3-row w3-center w3-amber w3-padding-large">
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">베너</span><br>
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">베너</span><br>
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">베너</span><br>
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">베너</span><br>
  </div>
</div>

<!-- 연락부분 -->
<footer class="w3-topleft w3-black w3-row w3-padding-small w3-opacity w3-hover-opacity-off" id="contact">
  <div class="w3-xlarge w3-section">
    <a href="https://github.com/ginttone/Zipbob" title="주소로 이동" target="_blank" class="w3-hover-text-white"><i class="fa fa-github w3-hover-opacity"></i> Zipbob </a>
  </div>

    <p style="color:Gray;">
      Zipbob Link<br>
      Zipbob Link<br>
      <br><br></p>

  <div class="w3-bottomleft" style="color:Lightgray;">Service center 1234-5678 Weekdays 09:00~18:00  (Breaktime 12:00~13:00)</div>
</footer>

<script>
// Modal Image Gallery(choose recipe)
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}


// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" ;
    } else {
        navbar.className = navbar.className.replace(" w3-card w3-animate-top", "");
    }
}

// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("bgimg-1");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 4000);
}

</script>

  <script type="text/javascript">
        $('.slider').slick({
            infinite: true,
            autoplay: true,
            autoplaySpeed: 3500,
            arrows: false,
            fade: true,
            cssEase: 'linear'
        });

    </script>

</body>
</html>
